
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:chartreuse;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1a7a00;
    border-bottom: 2px solid #ccc;
}

.header .left, .header .center, .header .right a {
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: limegreen;
    background-color: white;
    border-radius: 5px;
}


.header .left:hover, .header .center:hover, .header .right a:hover {
    background-color: rgb(60, 205, 50);
    color: white;
}


.container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    
}


.container {
    border: 2px solid #ccc;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

}

.container:hover{
    box-shadow:red;
}


.container:hover {
    box-shadow: 0 0 20px limegreen;
    border-color: limegreen;
}


.container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
